<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ template "title" . }}</title>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <section id="contents">
            {{ template "content" . }}
        </section>
    </body>
</html>
