{{ define "title" }}Nine Second Attenance{{ end }}

{{ define "content" }}
    <h1>Current Nearby Registered Users</h1>
    <p> Associated with each user is an rssi, or signal strength. Large negative numbers suggest that the person is outside of the room. Please use this as a suggestion only, double check to see who is around. 
    <ul class="guests">
	{{ range $name, $dbi := . }}
        <li>{{$name}} at {{$dbi}} dBi</li>
	{{ end }}
    </ul>
{{ end }}
