{{ define "title" }}NSA Registration{{ end }}

{{ define "content" }}
    <h1>Register Your Mac Address</h1>
    <form action="/processRegistration" method="POST">
        <p>Name: <input type="text" name="name"></p>
        <p>Mac Address: <input type="text" name="mac"></p>
        <p><button>Register</button></p>
    </form>
{{ end }}
